# Virtual environment
venv/
env/
ENV/
.venv/
.venv
.git/
.git

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.cache

# Logs and databases
*.log
*.sqlite3

# Project related files
browser.json
